body {
  margin: 0;
}
.text {
  color: #09d3ac;
}
.nav {
  font-family: "Arial Black", Gadget, sans-serif;
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

.title {
  text-align: center;
  flex-grow: 0.1;
}
.title-style {
  color: #ffffff;
}
.search {
  margin-left: auto;
  flex-grow: 0.1;
  padding-top: 16px;
}
.nav-bg {
  background: #ff4000;
  color: #ffffff;
}
.inputSearch {
  border: 0px;
  height: 25px;
  width: 150px;
  border-radius: 5px;
  /* -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out; */
  padding: 0px 5px;
}
.inputSearch:focus {
  outline: #ffffff;
  border-radius: 5px;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  justify-content: space-evenly;
  margin: 50px 0px;
}
.bloglist {
  margin: 10px 0;
  flex-basis: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.bloglist:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
@media all and (max-width: 800px) {
  .list-container {
    justify-content: space-evenly;
  }
  .bloglist {
    flex-basis: 33%;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 502px) {
  .list-container {
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-around;
  }
}
