body {
  margin: 0;
}
.text {
  color: #09d3ac;
}
.nav-bg {
  background: #ff4000;
  color: #ffffff;
}
.nav {
  font-family: "Arial Black", Gadget, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.title-style > a {
  color: #ffffff;
  text-decoration: none;
}
.title {
  order: 1;
  flex-grow: 3;
  border: 1px solid green;
}

.search {
  order: 2;
  flex-grow: 1;
  border: 1px solid green;
  padding: 20px;
}

.searchBar {
  border: 0px;
  height: 25px;
  width: 250px;
  box-sizing: border-box;

  /* -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out; */
}
.searchBar ul {
  text-align: left;
  margin: 0;
  padding: 0;
  color: #000000;
  border-top: 1px solid #ccc;
  background-color: #ffffff;
  width: 250px;
  list-style: none;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
a {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #ff4000;
}
.inputSearch:focus {
  outline: #ffffff;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  justify-content: space-evenly;
  margin: 50px 0px;
}
.bloglist {
  background-color: #ffffff;
  margin: 10px 0;
  flex-basis: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.bloglist:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
@media all and (max-width: 800px) {
  .list-container {
    justify-content: space-evenly;
  }
  .bloglist {
    flex-basis: 33%;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 502px) {
  .list-container {
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-around;
  }
}
.container {
  padding: 20px;
  height: 100%;
  background-color: #09d3ac;
}
